.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 250px;
  height: 250px;
  margin: .5rem;
}
